package {{modelPackage}};

class EducationOrganizationTelephone
{
  protected String institutionTelephoneNumberType;
  protected String telephoneNumber;
  
  public String getInstitutionTelephoneNumberType() {
    return institutionTelephoneNumberType;
  }
  public void setInstitutionTelephoneNumberType(
      String institutionTelephoneNumberType) {
    this.institutionTelephoneNumberType = institutionTelephoneNumberType;
  }
  public String getTelephoneNumber() {
    return telephoneNumber;
  }
  public void setTelephoneNumber(String telephoneNumber) {
    this.telephoneNumber = telephoneNumber;
  }
  
}

class EducationOrganizationIdentificationCode
{
  protected String educationOrganizationIdentificationCode;
  protected String educationOrganizationIdentificationSystemType;
  
  public String getEducationOrganizationIdentificationCode() {
    return educationOrganizationIdentificationCode;
  }
  public void setEducationOrganizationIdentificationCode(
      String educationOrganizationIdentificationCode) {
    this.educationOrganizationIdentificationCode = educationOrganizationIdentificationCode;
  }
  public String getEducationOrganizationIdentificationSystemType() {
    return educationOrganizationIdentificationSystemType;
  }
  public void setEducationOrganizationIdentificationSystemType(
      String educationOrganizationIdentificationSystemType) {
    this.educationOrganizationIdentificationSystemType = educationOrganizationIdentificationSystemType;
  }
}

class EducationOrganizationCategory
{
  protected String type;

  public String getType() {
    return type;
  }

  public void setType(String type) {
    this.type = type;
  }
}

class EducationOrganizationAddress
{
  protected String addressType;
  protected String city;
  protected String nameOfCounty;
  protected String postalCode;
  protected String stateAbbreviationType;
  protected String streetNumberName;
  
  public String getAddressType() {
    return addressType;
  }
  public void setAddressType(String addressType) {
    this.addressType = addressType;
  }
  public String getCity() {
    return city;
  }
  public void setCity(String city) {
    this.city = city;
  }
  public String getNameOfCounty() {
    return nameOfCounty;
  }
  public void setNameOfCounty(String nameOfCounty) {
    this.nameOfCounty = nameOfCounty;
  }
  public String getPostalCode() {
    return postalCode;
  }
  public void setPostalCode(String postalCode) {
    this.postalCode = postalCode;
  }
  public String getStateAbbreviationType() {
    return stateAbbreviationType;
  }
  public void setStateAbbreviationType(String stateAbbreviationType) {
    this.stateAbbreviationType = stateAbbreviationType;
  }
  public String getStreetNumberName() {
    return streetNumberName;
  }
  public void setStreetNumberName(String streetNumberName) {
    this.streetNumberName = streetNumberName;
  }
}

