namespace {{modelPackage}}
{
    public class EducationOrganizationTelephone
    {
    }

    public class EducationOrganizationIdentificationCode
    {
    }

    public class EducationOrganizationCategory
    {
    }

    public class EducationOrganizationAddress
    {
    }

}
